/* My Name Properties */
#name{
    background-color: rgb(32, 207, 207);
    color: white;
    padding: 19px;
    margin-top: -8px;
    margin-left: 125px;
    margin-bottom: -8px;
}

/* Background Properties */
body{
    background-color: rgb(238, 238, 238);
}

/* About Me Properties */
#allheaders{
    color: rgb(32, 207, 207);
    font-family: 'Merriweather', serif;
    padding: 35px;
    padding-bottom: 12px;
}

/* Image 1 */
#img1{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

/* Texts on the images */
#h1 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 91%;
    height: 17%;
    position: absolute;
    margin-top: 39%;
    margin-left: 0.3%;
}
#h2 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 91%;
    height: 18%;
    position: absolute;
    margin-top: 66%;
    margin-left: 0.3%;
}
#h3 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 91%;
    height: 18%;
    position: absolute;
    margin-top: 32%;
    margin-left: 0.3%;
}
#h4 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 73%;
    height: 18%;
    position: absolute;
    margin-top: 34%;
    margin-left: 0.3%;
}
#h5 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 91%;
    height: 18%;
    position: absolute;
    margin-top: 54%;
    margin-left: 0.3%;
}
#h6 {
    background-color: rgb(32, 207, 207);
    color: white;
    text-align: center;
    width: 87%;
    height: 18%;
    position: absolute;
    margin-top: 59%;
    margin-left: 0.3%;
}


/* main white box */
#midbox{
    background-color: white;
    padding: 35px;
    margin: 2px;
    margin-top: -25px;
}



/* Footer Copy Right */
#copyright{
    text-align: center;
    background-color: gray;
    color: white;
    margin-top: 139px;
    margin-bottom: 0px;
    padding: 34px;
}